.mini-card {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  box-shadow: none;
  background-color: transparent;


  .card-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .poster {
    width: 60px;
    height: 90px;
    object-fit: cover;
  }

}
