:host {
  display: block;
  height: 100vh;
  width: 100vw;

}

.sidenav {
  width: 250px;
  min-width: 250px;
}

.sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

