<mat-card id="container">
  <form (submit)="login()" [formGroup]="loginFromGroup">

    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      @if (invalidCredentials) {
        <mat-error>Invalid username or password</mat-error>
      }
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-flat-button [disabled]="loginFromGroup.invalid">
        Login
      </button>
    </mat-card-actions>
  </form>
</mat-card>
