<mat-card class="movie-card-details">

  <div class="movie-details-split">

    <div class="movie-info">
      <mat-card-title>{{ movie?.title }}</mat-card-title>
      <mat-card-subtitle>Release date: {{ movie?.releaseDate }}</mat-card-subtitle>

      <mat-card-content>
        <p class="description">{{ movie?.overview }}</p>
      </mat-card-content>

      <mat-chip-set class="genres">
        @for (genre of genres; track $index){
          <mat-chip color="primary" selected>{{ genre }}</mat-chip>
        }
      </mat-chip-set>

      <mat-list class="stats-vertical">
        <p>Popularity: {{ movie?.popularity }}</p>
        <p>Votes: {{ movie?.voteCount }}</p>
        <p>Average: {{ movie?.voteAverage }}</p>
        <p>Language: {{ movie?.originalLanguage | uppercase }}</p>
      </mat-list>

      <mat-card-actions class="actions">
        <button mat-raised-button color="primary">WATCHED</button>
        <button mat-raised-button color="accent">LATER</button>
        <button mat-raised-button color="warn">LIKE</button>
      </mat-card-actions>
    </div>

    <div class="poster-container">
      <img mat-card-image [src]="movie?.posterUrl" [alt]="'Poster of ' + movie?.title">
    </div>
  </div>

</mat-card>
