<div class="movie-details-wrapper">
  <mat-tab-group mat-stretch-tabs class="full-screen-tabs">
    <mat-tab label="Details">
      <mat-card class="movie-card-details">
        <div class="movie-details-split">
          <div class="movie-info">
            <mat-card-title>{{ movie.title }}</mat-card-title>
            <mat-card-subtitle>
              Release date: {{ movie.releaseDate }}
            </mat-card-subtitle>

            <mat-card-content>
              <p class="description">{{ movie.overview }}</p>
            </mat-card-content>

            <mat-chip-set class="genres">
              @for (genre of genres; track $index) {
                <mat-chip color="primary" selected>{{ genre }}</mat-chip>
              }
            </mat-chip-set>

            <div class="stats-grid">
              <div class="stat-item">Popularity: {{ movie.popularity }}</div>
              <div class="stat-item">Votes: {{ movie.voteCount }}</div>
              <div class="stat-item">Average: {{ movie.voteAverage }}</div>
              <div class="stat-item">Language: {{ movie.originalLanguage | uppercase }}</div>
            </div>

            <mat-card-actions class="actions">
              <div class="action-buttons">
                <button mat-raised-button (click)="addToWatched(movie.id)">WATCHED</button>
                <button mat-raised-button (click)="addToWatchLater(movie.id)">WATCH LATER</button>
                <button mat-raised-button (click)="addToFavorite(movie.id)">LIKE</button>

                <button mat-raised-button (click)="deleteFromWatched(movie.id)">UNWATCHED</button>
                <button mat-raised-button (click)="deleteFromWatchLater(movie.id)">REMOVE WATCH LATER</button>
                <button mat-raised-button (click)="deleteFromFavorite(movie.id)">UNLIKE</button>
              </div>
            </mat-card-actions>
          </div>

          <div class="poster-container">
            <img mat-card-image [src]="movie.posterUrl" [alt]="'Poster of ' + movie.title" />
          </div>
        </div>
      </mat-card>
    </mat-tab>

    <mat-tab label="Comments">
      <mat-card class="movie-card-details">
        <div class="movie-details-split">
          <div class="comments-section">
            <div class="comments-content">
              <app-movie-comment-list [movieId]="movie.id"></app-movie-comment-list>
            </div>
          </div>

          <div class="poster-container">
            <img mat-card-image [src]="movie.posterUrl" [alt]="'Poster of ' + movie.title" />
          </div>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
