:host {
  display: block;
  width: 100%;
  height: 100%;
}

.movie-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/4;
}
