:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

.movie-container {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 16px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

mat-paginator {
  border-top: 1px solid #ccc;
  grid-row: 2;
  width: 100%;
}
