<div id="container">
  <form (submit)="register()" [formGroup]="registerFromGroup">
    <h3>Register</h3>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <button mat-flat-button [disabled]="registerFromGroup.invalid">Register</button>
    @if (invalidUser){
      <mat-error>invalid username password email</mat-error>
    }
  </form>
</div>
