#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

form {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

mat-card-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

mat-error {
  text-align: center;
}
